

.pie{p{color: white; margin-top: 14px;}
    background-color: black;margin-top: 0px;padding: 3px; height: 70px;width: 100%; display: flex;justify-content: space-around;align-items: center;

    a{text-decoration: none;  p{color: white;margin-top: 14px; text-decoration:none; &:hover{scale: 1.2;}}} }